<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/chat.css">

    <title>WebSocket Client</title>
</head>

<body>
    <div class="container">
        <textarea id="chat_log"></textarea>
        <div class="input_container">
            <input type="text" id="username_input" placeholder="username">
            <input type="text" id="message_input" placeholder="Write your message here..." readonly="true">
            <button id="send_button">Connect</button>
        </div>
    </div>
</body>

<script src="../static/chat.js"></script>

</html>